<!DOCTYPE html>
{% load crispy_forms_tags %}
<html>
    <head>
        <title>coursebase</title>
    </head>
    <body>
        <div class ="well co-sm-6">
            <h1>Login to coursebase</h1>
            <form id="login_form" method="post" action="/coursebase/login/">
                {% csrf_token %}
                {{ form|crispy }}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />

                <input type="submit" value="submit" />
            </form>
        </div>
    </body>
</html>