<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CourseBase</title>
        <style type="text/css">  
            * { color: blue; text-align: center; }
        </style>
    </head>
    <body>
        <h1>Courses In CourseBase</h1>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
        {% for topic in topics %}
            <a href="/coursebase/topic/{{ topic.slug }}">  {{ topic.name }}</a><br/>
        {% endfor %}
        <br>
        <br>
        <a href="/coursebase/"> Return to main screen</a><br />   
    </body>
</html>
